*{
  margin:0;
}
@font-face {
  font-family: 'Helvetica-1';
  src: url("HelveticaNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
